@using System.Security.Claims
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduSciencePro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EduSciencePro.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-white mobile_nav">
            <div class="container">
                <div>
                    <a class="navbar-brand col-md-6" asp-area="" asp-controller="User" asp-action="Index"><img src="src/Logo_mobile.svg" /></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navbarMobile" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border_bottom_blue mb-3 flex-column desctop_nav">
            <div class="container d-flex">
                <a class="navbar-brand col-md-6" asp-area="" asp-controller="User" asp-action="Index"><img src="src/Logo.svg" /></a>
                <div class="navbar-collapse d-sm-inline-flex justify-content-end col-md-4">
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item m-2">
                            <form asp-controller="User" asp-action="UsersFinding">
                                <input class="search_inp without_style" style="border-bottom: 1px black solid;" name="search" />
                                <button class="without_style"><img src="src/search.svg" /></button>
                            </form>
                        </li>
                        <li class="nav-item m-2">
                            <a class="nav-link text-dark">Контакты</a>
                        </li>
                        <li class="nav-item m-2">
                            @{
                                if (Context.User.Identity.IsAuthenticated)
                                {
                                        <a class="nav-link text-dark" style="cursor:pointer;" id="Menu_Link">Меню</a>

                                        <div class="position-absolute border_blue menu_width d-none" id="desktop_menu">
                                            <a asp-controller="User" asp-action="Main" class="p-2 border_bottom_dark m-0 d-block form-control-plaintext text-decoration-none">Мой профиль</a>
                                            <a class="p-2 border_bottom_dark m-0 d-none form-control-plaintext text-decoration-none">Комментарии</a>
                                            <a class="p-2 border_bottom_dark m-0 d-none form-control-plaintext text-decoration-none">Подписки</a>
                                            <a class="p-2 border_bottom_dark m-0 d-none form-control-plaintext text-decoration-none" asp-action="Messages" asp-controller="Message">Сообщения</a>
                                            <a class="form-control-plaintext text-decoration-none" asp-controller="User" asp-action="Logout" class="p-2 border_bottom_dark m-0 d-block">Выход</a>
                                        </div>
                                }
                                else
                                {
                                        <a class="form-control-plaintext text-decoration-none" asp-controller="User" asp-action="Authenticate">Вход в личный кабинет</a>
                                }
                            }
                        </li>
                    </ul>
                </div>

            </div>
            <div class="d-block w-100">
                <div class="container d-flex justify-content-between align-items-center text-center" style="font-size:13px;">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <partial name="~/Views/User/TypeUsers.cshtml"></partial>
                    }
                    else
                    {
                        <p class="m-4 text-uppercase small types_user"><a>Школьникам</a></p>
                        <p class="m-4 text-uppercase small types_user"><a>Студентам, Аспирантам или Соискателям</a></p>
                        <p class="m-4 text-uppercase small types_user"><a>Представителям сферы среднего профессионального образования</a></p>
                        <p class="m-4 text-uppercase small types_user"><a>Профессорско-преподавательскому составу сферы высшего образования</a></p>
                        <p class="m-4 text-uppercase small types_user"><a>Научным сотрудникам</a></p>
                        <p class="m-4 text-uppercase small types_user"><a>Представителям реального сектора экономики</a></p>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 row justify-content-center">
            @RenderBody()
        </main>
    </div>

    <footer class="bg_dark mt-5 position-absolute bottom-0 pt-5 text-white" style="right:0;left:0;">
        <div class="container footer_div">
            <div style="margin: auto 0;" class="desctop_nav">
                <a asp-area="" asp-controller="User" asp-action="Index"><img class="svg_white" src="src/Logo.svg" style="fill:white;" /></a>
            </div>
            <div style="margin: auto 0;" class="mobile_nav">
                <a asp-area="" asp-controller="User" asp-action="Index"><img class="svg_white" src="src/Logo_mobile.svg" style="fill:white;" /></a>
            </div>
            <div class="d-flex footer_info_div">
                <div class="m-4" style="display:flex;align-items:end;flex-direction:row;">
                    <form asp-controller="User" asp-action="UsersFinding">
                        <input class="search_inp without_style" style="border-bottom: 1px white solid;color:white;" name="search" />
                        <button class="without_style svg_white"><img src="src/search.svg" /></button>
                    </form>
                </div>
                <div>
                    @if (!Context.User.Identity.IsAuthenticated)
                    {
                        <p><a class="form-control-plaintext text-decoration-none text-white" asp-controller="User" asp-action="Authenticate">Вход в личный кабинет</a></p>
                    }
                    else
                    {
                        <p><a class="form-control-plaintext text-decoration-none text-white" asp-controller="User" asp-action="Logout">Выход из личного кабинета</a></p>
                    }
                    <p><a>Контакты</a></p>
                    <p><a>Правила сайта</a></p>
                    <p><a>Политика конфиденциальности</a></p>
                </div>
            </div>
        </div>
        <p class="text-center text-muted">&copy; 2022 - При цитировании информации с сайта EduSciencePro ссылка на первоисточник обязательна</p>
    </footer>

    <div class="modal fade" id="navbarMobile" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <partial name="~/Views/User/TypeUsers.cshtml"></partial>
                    }
                    else
                    {
                        <p class="m-4 text-uppercase small"><a>Школьникам</a></p>
                        <p class="m-4 text-uppercase small"><a>Студентам, Аспирантам или Соискателям</a></p>
                        <p class="m-4 text-uppercase small"><a>Представителям сферы среднего профессионального образования</a></p>
                        <p class="m-4 text-uppercase small"><a>Профессорско-преподавательскому составу сферы высшего образования</a></p>
                        <p class="m-4 text-uppercase small"><a>Научным сотрудникам</a></p>
                        <p class="m-4 text-uppercase small"><a>Представителям реального сектора экономики</a></p>
                    }
                    <div>
                        <ul class="navbar-nav align-items-center">
                            <li class="nav-item m-2">
                                <form asp-controller="User" asp-action="UsersFinding">
                                    <input class="search_inp without_style" style="border-bottom: 1px black solid;" name="search" />
                                    <button class="without_style"><img src="src/search.svg" /></button>
                                </form>
                            </li>
                            <li class="nav-item m-2">
                                <a class="nav-link text-dark">Контакты</a>
                            </li>
                            <li class="nav-item m-2">
                                @{
                                    if (Context.User.Identity.IsAuthenticated)
                                    {
                                                        
                                            <a asp-controller="User" asp-action="Main" class="p-2 m-0 d-block form-control-plaintext text-decoration-none">Мой профиль</a>
                                            //<a class="form-control-plaintext text-decoration-none p-2 m-0 d-block">Комментарии</a>
                                            //<a class="form-control-plaintext text-decoration-none p-2 m-0 d-block">Подписки</a>
                                            //<a class="form-control-plaintext text-decoration-none p-2 m-0 d-block" asp-action="Messages" asp-controller="Message">Сообщения</a>
                                            <a class="form-control-plaintext text-decoration-none p-2 m-0 d-block" asp-controller="User" asp-action="Logout">Выход</a>
                                    }
                                    else
                                    {
                                            <a class="form-control-plaintext text-decoration-none p-2 m-0 d-block" asp-controller="User" asp-action="Authenticate">Вход в личный кабинет</a>
                                    }
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="https://uicdn.toast.com/editor/latest/i18n/ru-ru.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        jQuery(function ($) {

            if ($("#editor").length) {
                const Editor = toastui.Editor;

                const editor = new Editor({
                    el: document.querySelector('#editor'),
                    initialEditType: 'wysiwyg',
                    height: '500px',
                    previewStyle: 'tab',
                    language: 'ru-RU',
                });

                $(".toastui-editor-mode-switch").css({ display: "none" });
            }

            $(".EducationInput").keyup(function (e) {
                $(".Search_Education p").each(function () {
                    $(this).remove();
                });
                //if (!$(".Search_Education").hasClass('d-none')) {
                //    $(".Search_Education").addClass('d-none');
                //};
                $.ajax({
                    url: '@Url.Action("GetEducation", "User")',
                    type: 'POST',
                    data: { 'search': $(this).val() },
                    success: function (data) {
                        var width = $(".EducationInput").parent().width();
                        for (var i = 0; i < data.length && i < 5; i++) {
                            $(".Search_Education").append("<p onclick='Search_Education_Click(this)'>" + data[i].name + "</p>");
                        };
                        //if ($(".Search_Education").hasClass('d-none'))
                        //{
                        //    $(".Search_Education").removeClass('d-none');
                        //};
                    },
                    error: function () {

                    }
                });
            });

            $(".PlaceWorkInput").keyup(function (e) {
                $(".Search_PlaceWork p").each(function () {
                    $(this).remove();
                });
                //if (!$(".Search_PlaceWork").hasClass('d-none')) {
                //    $(".Search_PlaceWork").addClass('d-none');
                //};
                $.ajax({
                    url: '@Url.Action("GetPlaceWork", "User")',
                    type: 'POST',
                    data: { 'search': $(this).val() },
                    success: function (data) {
                        for (var i = 0; i < data.length && i < 5; i++) {
                            $(".Search_PlaceWork").append("<p onclick='Search_PlaceWork_Click(this)'>" + data[i].name + "</p>");
                        };
                        //if ($(".Search_PlaceWork").hasClass('d-none')) {
                        //    $(".Search_PlaceWork").removeClass('d-none');
                        //};
                    },
                    error: function () {

                    }
                });
            });

            $(".OrganizationInput").keyup(function (e) {
                $(".Search_Organization p").each(function () {
                    $(this).remove();
                });

                $(".field-validation-error[data-valmsg-for='AddResumeViewModel.Organization']").hide();

                //if (!$(".Search_PlaceWork").hasClass('d-none')) {
                //    $(".Search_PlaceWork").addClass('d-none');
                //};
                if ($(this).val() != '') {
                    $.ajax({
                        url: '@Url.Action("GetOrganization", "User")',
                        type: 'POST',
                        data: { 'search': $(this).val() },
                        success: function (data) {
                            if (data.length == 0) {
                                if ($(".Not_Found_Organization").length == 0) {
                                    $(".Search_Organization").after("<p class='Not_Found_Organization text-danger'>Организация не найдена</p>")
                                }
                            }
                            else {
                                $(".Not_Found_Organization").remove();
                                for (var i = 0; i < data.length && i < 5; i++) {
                                    $(".Search_Organization").append("<p onclick='Search_Organization_Click(this)'>" + data[i].name + "</p>");
                                };
                            }


                            //if ($(".Search_PlaceWork").hasClass('d-none')) {
                            //    $(".Search_PlaceWork").removeClass('d-none');
                            //};
                        },
                        error: function () {

                        }
                    });
                }
                else {
                    $(".Not_Found_Organization").remove();
                }
            });

            //$(".TagsInput").keyup(function (e) {
            //    $(".Search_Tags p").each(function () {
            //        $(this).remove();
            //    });
            //    $.ajax({
            //        url: '@Url.Action("GetTagsSearch", "Post")',
            //        type: 'POST',
            //        data: { 'search': $(this).val() },
            //        success: function (data) {
            //            for (var i = 0; i < data.length && i < 5; i++) {
            //                $(".Search_Tags").append("<p onclick='Search_Tags_Click(this)'>" + data[i].name + "</p>");
            //            };
            //        },
            //        error: function () {

            //        }
            //    });
            //});

            $("#button_addpost").click(function () {
                var html = $("#editor").find(".ProseMirror.toastui-editor-contents").html();
                $('input[name="Content"]').val(html);
                var file = $('input[type="file"]')[1].files[0];
                var model = new FormData();
                model.append('Title', $(".input_title_post").val());
                model.append('IsNew', $(".publ_inp:checked").val());
                model.append('Content', $('input[name="Content"]').val());
                model.append('Tags', $("#tags_input").val());
                model.append('Cover', file);

                var headers = {
                    'X-Requested-With': 'XMLHttpRequest',
                    'RequestVerificationToken': $scope.token,
                    'Content-Type': 'text/html; charset=utf-8;'
                };

                $.ajax({
                    url: '@Url.Action("AddPost", "Post")',
                    type: 'POST',
                    headers: headers,
                    cache: true,
                    data: model,
                    success: function (data) {
                        console.log(true);
                    },
                    error: function () {

                    }
                });
            });
            $("#button_editpost").click(function () {
                var html = $("#editor").find(".ProseMirror.toastui-editor-contents").html();
                $('input[name="Content"]').val(html);
                var file = $('input[type="file"]')[1].files[0];
                var model = new FormData();
                model.append('Id', $('input[name="Id"]').val())
                model.append('Title', $(".input_title_post").val());
                model.append('IsNew', $(".publ_inp:checked").val());
                model.append('Content', $('input[name="Content"]').val());
                model.append('Tags', $("#tags_input").val());
                model.append('Cover', file);

                var headers = {
                    'X-Requested-With': 'XMLHttpRequest',
                    'RequestVerificationToken': $scope.token,
                    'Content-Type': 'text/html; charset=utf-8;'
                };

                $.ajax({
                    url: '@Url.Action("EditPost", "Post")',
                    type: 'POST',
                    headers: headers,
                    cache: true,
                    data: model,
                    success: function (data) {
                        console.log(true);
                    },
                    error: function () {

                    }
                });
            });

            $("#button_addmessage").click(function () {

                $.ajax({
                    url: '@Url.Action("AddMessage", "Message")',
                    type: 'POST',
                    data: { 'recipientId': $('input[name="sender"]').val(), 'content': $('textarea[name="content"]').val() },
                    success: function (data) {
                        $("#dialog_messages").append(data.Content);
                    },
                    error: function () {

                    }
                });
            });

            if ($(".post_content_input").length) {
                $("#editor").find(".ProseMirror.toastui-editor-contents").empty();
                $("#editor").find(".ProseMirror.toastui-editor-contents").append($(".post_content_input").val());
            };


        });

        function like_post(e, sr) {
            $.ajax({
                url: '@Url.Action("LikePost", "Post")',
                type: 'POST',
                data: { 'postId': e },
                success: function (data) {
                    if (data > $(sr).prev().text()) {
                        $(sr).find('path').css({ fill: "#F8312F" });
                    }
                    else {
                        $(sr).find('path').css({ fill: "#CDE7FF" });
                    }
                    $(sr).prev().text(data);
                },
                error: function () {

                }
            });
        };

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
