@using EduSciencePro.ViewModels.Response
@model ConferenceViewModel[];

@{
    ViewData["Title"] = "Ваши конференции";
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white">
    <h3 class="mb-5 mt-2 underline_h3 text-center">Ваши конференции</h3>

    <p><a class="button_light form-control-plaintext text-center m-auto w-25 p-2 mt-4" asp-action="AddConference" asp-controller="Conference">Создать конференцию</a></p>

    <div class="row justify-content-center">
        @if (Model != null && Model.Length != 0)
        {
            @foreach (var conference in Model)
            {
                <div class="col-md-10 mt-4 mb-4" style="padding:10px;">
                    <h5 class="fw-bold">@conference.Title</h5>
                    <p>Дата проведения: @conference.EventDate</p>
                    <p>Организатор: @conference.Organization.Name</p>
                    <p>
                        @foreach (var tag in conference.Tags)
                        {
                            <span class="bg_blue p-2 m-2 d-inline-block">@tag.Name</span>
                        }
                    </p>
                    <p class="text-center"><a asp-action="LookingConference" asp-controller="Conference" asp-route-conferenceId="@conference.Id">Узнать больше</a></p>
                    <p class="text-center"><a asp-action="DeleteConference" asp-controller="Conference" asp-route-conferenceId="@conference.Id">Удалить</a></p>
                </div>
            }
        }
        else
        {
            <p class="text-center col-md-10 mt-5">Конференций нет.</p>
        }
    </div>

</div>
