@using EduSciencePro.ViewModels.Response
@model CommentViewModel[];

@foreach (var comm in Model)
{
   <div class="border_blue p-4 m-3 bg-white d-flex justify-content-center">
    <div class="col-md-10">
            <div class="d-flex flex-row align-items-center">
                @if (comm.User.Image != null)
                {
                    <div style="height:40px;width:40px;background-image:url(data:image/jpeg;base64,@(Convert.ToBase64String(comm.User.Image)));background-position:center;background-size:cover;"></div>
                }
                else
                {
                    <div style="height:40px;width:40px;background-image:url(/src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png);background-position:center;background-size:cover;"></div>
                }
                @{
                    var fullName = $"{comm.User.FirstName} {comm.User.LastName} {comm.User.MiddleName}";
                }
                <p style="margin:0 10px;">@fullName</p>
                <p class="color-blue" style="margin:0 10px;">@comm.CreatedDate</p>
            </div>
            <p class="mt-4">@comm.Content</p>
            <div class="d-flex justify-content-end">
                @if (comm.User.Email == Context.User.Identity.Name)
                {
                    <span style="cursor:pointer;font-size: 25px;" class="ability_post col-md-2 color-blue text-end">…</span>
                    <div class="div_ability_post d-none position-absolute border_blue menu_width" style="background-color: white;right: 0;transform: translate(-50%, -20px);padding:0;">
                        @*<a asp-action="EditPost" asp-controller="Post" asp-route-postId="@post.Id" class="p-2 border_bottom_dark m-0 d-block">Редактировать</a>*@
                        <a asp-action="DeleteComment" asp-controller="Comment" asp-route-commentId="@comm.Id" asp-route-postId="@comm.PostId" class="p-2 border_bottom_dark m-0 d-block">Удалить</a>
                    </div>

                }
            </div>
    </div>
</div>
}

