@using EduSciencePro.ViewModels.Response
@model PostViewModel;

@{
    ViewData["Title"] = "Редактирование публикации";
    Layout = "_Layout";
}

<div class="col-md-8">
    <form class="text-center d-flex flex-column" method='post' enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <h3 class="mb-5 mt-5">Редактирование публикации</h3>

        <input class="d-none" asp-for="Id" name="Id" value="@Model.Id" />

        <input class="d-none post_content_input" asp-for="Content" name="Content" value="@Model.Content"/>
        <div id="editor" class="text-start border_black"></div>

        <label asp-for="Title" class="text-start label_input mt-4"></label>
        <p class="col-md-6"><input class="input_title_post text-center w-100 p-1" placeholder="Название" name="Title" value="@Model.Title"></p>
        <p><span asp-validation-for="Title" class="text-danger mb-3 col-md-6 text-start"></span></p>

        @{
            var tags = "";
            foreach (var tag in Model.Tags)
                tags += tag.Name + "/";
        }

        <label asp-for="Tags" class="text-start label_input mt-3"></label>
        <input id="tags_input" class="d-none" name="Tags" value="@tags">
        <div class="col-md-6 text-start mb-4">
            <input class="TagsInput inpsearch text-center w-75 p-1" placeholder="Теги">
            <span id="tag_click" class="span_click">+</span>
            <p class="Search_Tags Search position-absolute m-0" style="transform:translateY(-0.8px);z-index:100"></p>
        </div>
        <div class="text-start mb-4" id="div_tags">
           @if (Model.Tags != null)
           {
              foreach (var tag in Model.Tags)
              {
                    <span class="bg_blue p-2 m-2"><span>@tag.Name</span><span style="padding-left: 5px;cursor:pointer;" onclick="remove_tag(this)">&#10008</span></span>
              }
           }
        </div>

        <label class="text-start label_input mt-3">Опубликовать как</label>
        <div class="col-md-4 d-flex align-content-between mt-2">
           @if (Model.IsNews)
           {
                <p class="mt-2 m-2"><input class="publ_inp" type="radio" name="IsNew" value="false" />Обсуждение</p>
                <p class="mt-2 m-2"><input class="publ_inp" type="radio" name="IsNew" value="true" checked />Новость</p>
           }
           else
           {
                   <p class="mt-2 m-2"><input class="publ_inp" type="radio" name="IsNew" value="false" checked />Обсуждение</p>
                     <p class="mt-2 m-2"><input class="publ_inp" type="radio" name="IsNew" value="true" />Новость</p>
           }

        </div>

        @if (Model.IsNews)
        {
            <div class="div_cover">
                <label asp-for="Cover" class="text-start label_input mt-4 w-100"></label>
                <p class="col-md-6"><input type="file" name="Cover" class="text-center w-100 p-1" accept="image/jpeg,image/png"></p>
            </div>
        }
        else
        {
            <div class="d-none div_cover">
                <label asp-for="Cover" class="text-start label_input mt-4 w-100"></label>
                <p class="col-md-6"><input type="file" name="Cover" class="text-center w-100 p-1" accept="image/jpeg,image/png"></p>
            </div>
        }


        <p><button class="button form-control-plaintext m-auto w-50 mt-4 text-decoration-none text-black" id="button_editpost">Сохранить</button></p>

    </form>
</div>
