@using EduSciencePro.ViewModels.Response
@model PostViewModel[];

@if (Model == null || Model.Length == 0)
{
    <p class="text-center mt-5">Публикаций нет</p>
}
else
{
    @foreach (var post in Model)
    {
        <div class="mb-5 mt-5">
            <p class="title">@post.Title</p>
            <p class="color-blue">@post.CreatedDate</p>
            <div class="mt-2">@Html.Raw(@post.Content)</div>
            <p>
               @foreach (var tag in post.Tags)
               {
                  <span class="bg_blue p-2 m-2">@tag.Name</span>
               }
            </p>
       </div>
    }
}
