@using EduSciencePro.ViewModels.Response
@model PostsAndUserIdViewModel;

@if (Model.Posts == null || Model.Posts.Length == 0)
{
    <p class="text-center mt-5">Публикаций нет</p>
}
else
{
    @foreach (var post in Model.Posts)
    {
        <div class="mb-3 mt-5 posts">
            <p class="title">@post.Title</p>
            <p class="color-blue">@post.CreatedDate</p>
            <div class="mt-2">@Html.Raw(@post.Content)</div>
            <p>
                @foreach (var tag in post.Tags)
                {
                    <span class="bg_blue p-2 m-2">@tag.Name</span>
                }
            </p>
            <div class="row align-items-center mt-5">
                <span class="col-md-2">
                   <span>@post.Likes.Length</span>
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        @if (post.Likes.FirstOrDefault(l => l.UserId == Model.UserId) != null)
                        {
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;" onclick="like_post('@post.Id', this)">
                                <path d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z" fill="#F8312F" />
                            </svg>
                        }
                        else
                        {
                            <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor:pointer;" onclick="like_post('@post.Id', this)">
                                <path d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z" fill="#CDE7FF" />
                            </svg>
                        }
                    }
                    else
                    {
                        <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 18.35L8.55 17.03C3.4 12.36 0 9.27 0 5.5C0 2.41 2.42 0 5.5 0C7.24 0 8.91 0.81 10 2.08C11.09 0.81 12.76 0 14.5 0C17.58 0 20 2.41 20 5.5C20 9.27 16.6 12.36 11.45 17.03L10 18.35Z" fill="#CDE7FF" />
                        </svg>
                    }
                   
                </span>
                <span class="col-md-8">
                    <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.3 18.3L16 16H2C1.45 16 0.979333 15.8043 0.588 15.413C0.196 15.021 0 14.55 0 14V2C0 1.45 0.196 0.979 0.588 0.587C0.979333 0.195667 1.45 0 2 0H18C18.55 0 19.021 0.195667 19.413 0.587C19.8043 0.979 20 1.45 20 2V17.575C20 18.025 19.796 18.3373 19.388 18.512C18.9793 18.6873 18.6167 18.6167 18.3 18.3Z" fill="#CDE7FF" />
                    </svg>
                </span>
                @if (post.User.Email == Context.User.Identity.Name)
                {
                    <span style="cursor:pointer;font-size: 25px;" class="ability_post col-md-2 color-blue text-end">…</span>
                    <div class="div_ability_post d-none position-absolute border_blue menu_width" style="background-color: white;transform: translateY(-20px);right: 0;transform: translate(-50%, -50px);padding:0;">
                        <a asp-action="EditPost" asp-controller="Post" asp-route-postId="@post.Id" class="p-2 border_bottom_dark m-0 d-block">Редактировать</a>
                        <a asp-action="DeletePost" asp-controller="Post" asp-route-postId="@post.Id" class="p-2 border_bottom_dark m-0 d-block">Удалить</a>
                    </div>

                }
            </div>
        </div>
    }
}
