@using EduSciencePro.ViewModels.Request
@using System.Text
@model EditUserViewModel
@{
    ViewData["Title"] = "Редактирование профиля";
    Layout = "_Layout";
}
<div class="col-md-4 text-center">
    <form enctype="multipart/form-data" class="m-3" method="post" asp-controller="User" asp-action="EditUser">

        <h3 class="mb-5 mt-5">Редактирование профиля</h3>

        <label asp-for="AddUserViewModel.FirstName" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Имя" asp-for="AddUserViewModel.FirstName" value="@Model.AddUserViewModel.FirstName"></p>
        <p><span asp-validation-for="AddUserViewModel.FirstName" class="text-danger mb-3"></span></p>

        <label asp-for="AddUserViewModel.LastName" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Фамилия" asp-for="AddUserViewModel.LastName" value="@Model.AddUserViewModel.LastName"></p>
        <p><span asp-validation-for="AddUserViewModel.LastName" class="text-danger mb-3"></span></p>

        <label asp-for="AddUserViewModel.MiddleName" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Отчество" asp-for="AddUserViewModel.MiddleName" value="@Model.AddUserViewModel.MiddleName"></p>
        <p><span asp-validation-for="AddUserViewModel.MiddleName" class="text-danger mb-3"></span></p>

        <div class="d-flex flex-md-row flex-sm-column">
            <div class="d-inline-block mr-2 w-50">
                <label asp-for="AddUserViewModel.Gender" class="w-100 text-start label_input"></label>
                <p>
                    <select size="1" class="text-center w-100 p-1" asp-for="AddUserViewModel.Gender">
                        @if (Model.UserViewModel.Gender == "Мужской")
                        {
                            <option value="Мужской" selected>Мужской</option>
                            <option value="Женский">Женский</option>
                        }
                        else
                        {
                            <option value="Мужской">Мужской</option>
                            <option value="Женский" selected>Женский</option>
                        }

                    </select>
                </p>
                <p><span asp-validation-for="AddUserViewModel.Gender" class="text-danger mb-3"></span></p>
            </div>

            <div class="d-inline-block w-50">
                <label asp-for="AddUserViewModel.Birthday" class="w-100 text-center"></label>
                <p><input type="date" class="text-center w-100 p-1" value="@Model.AddUserViewModel.Birthday" asp-for="AddUserViewModel.Birthday"></p>
                <p><span asp-validation-for="AddUserViewModel.Birthday" class="text-danger mb-3"></span></p>
            </div>
        </div>

        <input class="d-none" id="types_user" asp-for="AddUserViewModel.TypeUsers" value="@Model.AddUserViewModel.TypeUsers">

        <label asp-for="AddUserViewModel.TypeUsers" class="w-100 text-start label_input"></label>
        @foreach (var type in Model.Types)
        {
            if (Model.UserViewModel.TypeUsers.Contains(type))
            {
                <p class="text-start mt-4 p-2 type_user"><input class="checkbox" type="checkbox" value="@type.Id" checked><span class="before_checkbox checked">@type.Name</span></p>
            }
            else
            {
                <p class="text-start mt-4 p-2 type_user"><input class="checkbox" type="checkbox" value="@type.Id"><span class="before_checkbox">@type.Name</span></p>
            }

        }
        <p><span asp-validation-for="AddUserViewModel.TypeUsers" class="text-danger mb-3"></span></p>

        <label asp-for="AddUserViewModel.Email" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Email" value="@Model.UserViewModel.Email" disabled><a class="ml-2 position-absolute" style="transform: translateY(25%);" asp-action="EditEmail" asp-controller="User">Редактировать</a></p>

        <label asp-for="AddUserViewModel.Password" class="w-100 text-start label_input"></label>
        <p><input class="text-center w-100 p-1" placeholder="Пароль" disabled><a class="ml-2 position-absolute" style="transform: translateY(25%);" asp-action="EditPassword" asp-controller="User">Редактировать</a></p>

        <label asp-for="AddUserViewModel.Img" class="w-100 text-start label_input"></label>
        <p><input type="file" name="image" class="text-center w-100 p-1" accept="image/jpeg,image/png" asp-for="AddUserViewModel.Img"></p>
        <p class="text-center"><a asp-controller="User" asp-action="DeleteImage">Удалить фото профиля</a></p>

        <label class="w-100 text-start label_input mb-3">Ссылки</label>
        <table id="Links_Div" class="d-flex flex-column">
            <tr class="Telegram_Link d-flex flex-row m-2 d-none"><td style="width: 30%" class="text-start">Telegram:</td><td style="width: 70%"><span class="input-group-text d-inline-block">&#64;</span><input class="text-center w-75 p-1 d-inline-block" placeholder="Введите имя пользователя" asp-for="AddUserViewModel.TelegramLink" value="@Model.UserViewModel.Links.FirstOrDefault(l => l.Name == "Telegram")?.Url" /><img onclick="Cross_Click(this)" class="Cross ml-2 position-absolute" style="transform: translateY(40%);" src="src/Cross.svg" /></td></tr>
           <tr><td style="width: 100%"><span asp-validation-for="AddUserViewModel.TelegramLink" class="text-danger mb-3"></span></td></tr>
            
           <tr class="WhatsApp_Link d-flex flex-row m-2 d-none"><td style="width: 30%" class="text-start">WhatsApp:</td><td style="width: 70%"><input class="text-center w-100 p-1" placeholder="Введите номер" asp-for="AddUserViewModel.WhatsAppLink" value="@Model.UserViewModel.Links.FirstOrDefault(l => l.Name == "WhatsApp")?.Url" /><img onclick="Cross_Click(this)" class="Cross ml-2 position-absolute" style="transform: translateY(40%);" src="src/Cross.svg" /></td></tr>
            <tr><td style="width: 100%"><span asp-validation-for="AddUserViewModel.WhatsAppLink" class="text-danger mb-3"></span></td></tr>
            
            <tr class="Email_Link d-flex flex-row m-2 d-none"><td style="width: 30%" class="text-start">Почта:</td><td style="width: 70%"><input class="text-center w-100 p-1" placeholder="Введите электронную почту" asp-for="AddUserViewModel.EmailLink" value="@Model.UserViewModel.Links.FirstOrDefault(l => l.Name == "Email")?.Url" /><img onclick="Cross_Click(this)" class="Cross ml-2 position-absolute" style="transform: translateY(40%);" src="src/Cross.svg" /></td></tr>
            <tr><td style="width: 100%"><span asp-validation-for="AddUserViewModel.EmailLink" class="text-danger mb-3"></span></td></tr>

            <tr class="Another d-flex flex-row m-2 d-none"><td style="width: 100%"><input class="text-center w-100 p-1" placeholder="Введите ссылку" asp-for="AddUserViewModel.AnotherLink" value="@Model.UserViewModel.Links.FirstOrDefault(l => l.Name == "")?.Url" /><img onclick="Cross_Click(this)" class="Cross ml-2 position-absolute" style="transform: translateY(40%);" src="src/Cross.svg" /></td></tr>
            <tr><td style="width: 100%"><span asp-validation-for="AddUserViewModel.AnotherLink" class="text-danger mb-3"></span></td></tr>
        </table>
        <p class="text-start mt-1">
            <select size="1" id="Link_Select" class="text-center w-30 p-1">
                <option>Telegram</option>
                <option>WhatsApp</option>
                <option>Почта</option>
                <option>Другое</option>
            </select>
        </p>

        <p class="text-start mt-4 p-2"><input class="checkbox" type="checkbox" asp-for="Consent" value="true"><span class="before_checkbox">Согласие на сбор информации. Политика конфиденциальности.</span></p>
        <p><span asp-validation-for="Consent" class="text-danger mb-3"></span></p>

        <p><button class="button form-control-plaintext m-auto w-50 mt-4">Сохранить</button></p>

    </form>

    @await Html.PartialAsync("~/Views/User/EditResume.cshtml", Model.EditResumeViewModel)

</div>

