@using EduSciencePro.ViewModels.Request
@using System.Text
@model EditResumeViewModel

@{
    string skills = "";
    if (Model.Resume != null && Model.Resume.Skills != null)
    {
        foreach (var skill in Model.Resume.Skills)
        {
            skills += skill.Name + " ";
        }
    }
    string[] NameEducations = {};
    if (Model.AllEducations != null)
    {
        NameEducations = new string[Model.AllEducations.Length];
        for (int i = 0; i < Model.AllEducations.Length; i++)
        {
            NameEducations[i] = Model.AllEducations[i].Name;
        }
    }
}
    
    <form enctype="multipart/form-data" class="m-3" method="post" asp-controller="User" asp-action="EditResume">

    <h3 class="mb-5 mt-5">Редактирование резюме</h3>

    <label asp-for="AddResumeViewModel.Education" class="w-100 text-start label_input"></label>
    <p><input class="text-center w-100 p-1" placeholder="Образование" asp-for="AddResumeViewModel.Education" value="@Model.Resume?.Education?.Name"></p>
    <p class="Search_Education w-100 position-absolute"></p>
    <p><span asp-validation-for="AddResumeViewModel.Education" class="text-danger mb-3"></span></p>

    <label asp-for="AddResumeViewModel.DateGraduationEducation" class="w-100 text-start label_input"></label>
    <p class="text-start"><input class="text-center p-1" style="width: 35%;" asp-for="AddResumeViewModel.DateGraduationEducation" value="@Model.Resume?.DateGraduationEducation"></p>
    <p><span asp-validation-for="AddResumeViewModel.DateGraduationEducation" class="text-danger mb-3"></span></p>

    <label asp-for="AddResumeViewModel.Specialization" class="w-100 text-start label_input"></label>
    <p><input class="text-center w-100 p-1" placeholder="Специализация" asp-for="AddResumeViewModel.Specialization" value="@Model.Resume?.Specialization"></p>
    <p><span asp-validation-for="AddResumeViewModel.Specialization" class="text-danger mb-3"></span></p>

    <label asp-for="AddResumeViewModel.PlaceWork" class="w-100 text-start label_input"></label>
    <p><input class="text-center w-100 p-1" placeholder="Место работы" asp-for="AddResumeViewModel.PlaceWork" value="@Model.Resume?.PlaceWork?.Name"></p>
    <p><span asp-validation-for="AddResumeViewModel.PlaceWork" class="text-danger mb-3"></span></p>

@*    <label asp-for="AddResumeViewModel.Organization" class="w-100 text-start label_input"></label>
    <p><input class="text-center w-100 p-1" placeholder="Организация" asp-for="AddResumeViewModel.Organization" value="@Model.Resume?.Organization?.Name"></p>
    <p><span asp-validation-for="AddResumeViewModel.Organization" class="text-danger mb-3"></span></p>*@

    <label asp-for="AddResumeViewModel.Skills" class="w-100 text-start label_input"></label>
    <input id="Skills_Value" class="d-none" asp-for="AddResumeViewModel.Skills" value="@skills">
    <p class="d-flex flex-row"><input class="Skills_Input text-center w-100 p-1" placeholder="Навыки"><span id="Add_Skills" class="span_click">+</span></p>
    <div id="Skills_List">
        @if (Model.Resume != null && Model.Resume.Skills != null)
        {
            foreach (var skill in Model.Resume.Skills)
            {
                    <p class="text-start"><span class="p-1" style="background-color: #e9ecef;">@skill.Name</span><img onclick="Cross_Click_Skills(this)" class="Cross ml-2 position-absolute" style="transform: translateY(40%);" src="src/Cross.svg" /></p>
            }
        }
    </div>

    <label asp-for="AddResumeViewModel.AboutYourself" class="w-100 text-start label_input"></label>
    <p><textarea class="text-center w-100 p-1" placeholder="О себе" asp-for="AddResumeViewModel.AboutYourself">@Model.Resume?.AboutYourself</textarea></p>
    <p><span asp-validation-for="AddResumeViewModel.AboutYourself" class="text-danger mb-3"></span></p>

    <p class="text-start mt-4 p-2"><input class="checkbox" type="checkbox" asp-for="ResumeConsent" value="true"><span class="before_checkbox">Согласие на сбор информации. Политика конфиденциальности.</span></p>
    <p><span asp-validation-for="ResumeConsent" class="text-danger mb-3"></span></p>

    <p><button class="button form-control-plaintext m-auto w-50 mt-4">Сохранить</button></p>

    </form>
