@using EduSciencePro.ViewModels.Response
@model DialogueViewModel[];

<div class="p-4 m-3 row">

    <h3 class="mb-5 mt-2 underline_h3 text-center">Диалоги</h3>

    @if (Model != null && Model.Length != 0)
    {
        @foreach (var message in Model)
        {
            var interlocutor = message.LastMessage.Recipient.Email == Context.User.Identity.Name ? message.LastMessage.Sender : message.LastMessage.Recipient;
            @if (message.isLooked || message.LastMessage.Sender.Email == Context.User.Identity.Name)
            {
                <a asp-action="OpenMessage" asp-controller="Message" asp-route-interlocutorId="@interlocutor.Id" class="form-control-plaintext text-decoration-none text-black">
                    <div class="border_blue p-2 m-auto bg-white col-md-10 row" id="dialog_div">
                        <div class="col-2 align-self-start d-flex justify-content-end">
                            @if (interlocutor.Image != null)
                            {
                                <div style="height:60px;width:60px;background-image:url(data:image/jpeg;base64,@(Convert.ToBase64String(interlocutor.Image)));background-position:center;background-size:cover;"></div>
                            }
                            else
                            {
                                <div style="height:60px;width:60px;background-image:url(/src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png);background-position:center;background-size:cover;"></div>
                            }
                        </div>

                        @{
                            var fullName = $"{interlocutor.FirstName} {interlocutor.LastName} {interlocutor.MiddleName}";
                            var day = message.LastMessage.CreateTime.Day.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Day}" : message.LastMessage.CreateTime.Day.ToString();
                            var month = message.LastMessage.CreateTime.Month.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Month}" : message.LastMessage.CreateTime.Month.ToString();
                            var createDate = $"{day}.{month}.{message.LastMessage.CreateTime.Year}";
                            var hours = message.LastMessage.CreateTime.Hour.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Hour}" : $"{message.LastMessage.CreateTime.Hour}";
                            var minutes = message.LastMessage.CreateTime.Minute.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Minute}" : $"{message.LastMessage.CreateTime.Minute}";
                            var time = $"{hours}:{minutes}";
                        }

                        <div class="col-10" id="@interlocutor.Id">
                            <p><span class="d-block d-md-inline">@fullName</span><span class="m-md-2 d-block d-md-inline">@createDate</span><span class="m-md-2 d-block d-md-inline">@time</span></p>
                            @{
                                var cont = message.LastMessage.Content.Length > 50 ? @message.LastMessage.Content.Substring(0, 50) + "..." : @message.LastMessage.Content;
                            }
                            <p>@cont</p>
                        </div>
                    </div>
                </a>

            }
            else
            {
                <a asp-action="OpenMessage" asp-controller="Message" asp-route-interlocutorId="@interlocutor.Id" class="form-control-plaintext text-decoration-none text-black">
                    <div class="border_blue p-2 m-auto bg_blue col-md-10 row" id="dialog_div">
                        <div class="col-2 align-self-start d-flex justify-content-end">
                            @if (interlocutor.Image != null)
                            {
                                <div style="height:60px;width:60px;background-image:url(data:image/jpeg;base64,@(Convert.ToBase64String(interlocutor.Image)));background-position:center;background-size:cover;"></div>
                            }
                            else
                            {
                                <div style="height:60px;width:60px;background-image:url(/src/7fb117f2628e83a0fdfc18e0a3dc7cc0.png);background-position:center;background-size:cover;"></div>
                            }
                        </div>

                        @{
                            var fullName = $"{interlocutor.FirstName} {interlocutor.LastName} {interlocutor.MiddleName}";
                            var day = message.LastMessage.CreateTime.Day.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Day}" : message.LastMessage.CreateTime.Day.ToString();
                            var month = message.LastMessage.CreateTime.Month.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Month}" : message.LastMessage.CreateTime.Month.ToString();
                            var createDate = $"{day}.{month}.{message.LastMessage.CreateTime.Year}";
                            var hours = message.LastMessage.CreateTime.Hour.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Hour}" : $"{message.LastMessage.CreateTime.Hour}";
                            var minutes = message.LastMessage.CreateTime.Minute.ToString().Length == 1 ? $"0{message.LastMessage.CreateTime.Minute}" : $"{message.LastMessage.CreateTime.Minute}";
                            var time = $"{hours}:{minutes}";
                        }

                        <div class="col-10" id="@interlocutor.Id">
                            <p><span class="d-block d-md-inline">@fullName</span><span class="ml-2 d-block d-md-inline">@createDate</span><span class="ml-2 d-block d-md-inline">@time</span></p>
                            @{
                                var cont = message.LastMessage.Content.Length > 50 ? @message.LastMessage.Content.Substring(0, 50) + "..." : @message.LastMessage.Content;
                            }
                            <p>@cont</p>
                        </div>
                    </div>
                </a>
            }
        }
    }
    else
    {
        <p class="text-center">У вас нет диалогов</p>
    }

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();

        let connectionId = "";

        connection.on("ReceiveMessage", function (message, user) {
            var date = new Date(message.createTime);
            var day = "";
            if (date.getDate() < 10) {
                day += "0";
            }
            day += date.getDate();

            var month = "";
            if (date.getMonth() < 10) {
                month += "0";
            }
            month += date.getMonth() + 1;

            var createDate = day + "." + month + "." + date.getFullYear();

            var hours = "";
            if (date.getHours() < 10) {
                hours += "0";
            }
            hours += date.getHours();

            var minutes = "";
            if (date.getMinutes() < 10) {
                minutes += "0";
            }
            minutes += date.getMinutes();

            var time = hours + ":" + minutes;

            var cont = "";
            if (message.content.length > 50) {
                cont += message.content.substring(0, 50) + "...";
            }
            else {
               cont += message.content;
            }

            $("#" + user.id).children().last().empty();
            $("#" + user.id).children().last().append(cont);

            $("#" + user.id).children().first().children().first().next().empty();
            $("#" + user.id).children().first().children().first().next().append(createDate);

            $("#" + user.id).children().first().children().last().empty();
            $("#" + user.id).children().first().children().last().append(time);

            if ($("#" + user.id).parent("#dialog_div").hasClass("bg-white")) {
               $("#" + user.id).parent("#dialog_div").removeClass("bg-white").addClass("bg_blue");
            }          
        });

        connection.start().then(() => {
            connectionId = connection.connectionId;
            $.ajax({
                url: '/Message/Connect/' + connectionId,
                type: 'POST',
                success: function (data) {
                },
                error: function () {
                }
            });
        });
    })
</script>