@using EduSciencePro.ViewModels.Response
@model KeyValuePair<bool, InternshipViewModel>;

@{
    ViewData["Title"] = @Model.Value.Name;
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white d-flex justify-content-center">
    <div class="col-md-10">
        <h3 class="mb-5 mt-5 underline_h3 text-center">@Model.Value.Name</h3>

        <p>
            @if (Model.Value.Skills != null)
            {
                @foreach (var skill in Model.Value.Skills)
                {
                    <span class="bg_blue p-2 m-2 d-inline-block">@skill.Name</span>
                }
            }
        </p>

        <p><span class="fw-bold">Организация: </span>@Model.Value.Organization.Name</p>

        @if (Model.Value.Division != null)
        {
            <p><span class="fw-bold">Подразделение проведения: </span>@Model.Value.Organization.Name</p>
        }

        <p><span class="fw-bold">Дата начала и окончания: </span>@Model.Value.StartDate - @Model.Value.EndDate</p>

        <p><span class="fw-bold">Тип занятости: </span>@Model.Value.EmploymentType</p>

        <p><span class="fw-bold">Зарплата: </span>@Model.Value.Salary рублей</p>

        <div>
            <p class="fw-bold">Описание стажировки/практики:</p>
            <p>@Model.Value.Description</p>
        </div>

        <div>
            <p class="fw-bold">Необходимые компетенции:</p>
            <p>@Model.Value.Competencies</p>
        </div>

        <div>
            <p class="fw-bold">Условия:</p>
            <p>@Model.Value.Conditions</p>
        </div>

        <div>
            <p class="fw-bold">Обязанности:</p>
            <p>@Model.Value.Responsibility</p>
        </div>

        <div>
            <p class="fw-bold">Перспективы развития:</p>
            <p>@Model.Value.Development</p>
        </div>

        <p><span class="fw-bold">Контакты: </span><a href="mailto:@Model.Value.Contacts">@Model.Value.Contacts</a></p>

        @if (!Model.Key)
        {
            <p><button class="button form-control-plaintext m-auto w-50 mt-4 text-decoration-none text-black" style="cursor:pointer" onclick="send_notificationInternship('@Model.Value.Id')" id="button_send_message">Оставить заявку</button></p>
        }

    </div>
</div>