@using EduSciencePro.ViewModels.Response
@model CooperationViewModel[];

@{
    ViewData["Title"] = "Ваши проекты для сотрудничества";
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white">
    <h3 class="mb-5 mt-2 underline_h3 text-center">Ваши проекты для сотрудничества</h3>

    <p><a class="button_light form-control-plaintext text-center m-auto w-25 p-2 mt-4" asp-action="AddCooperation" asp-controller="Cooperation">Создать проект</a></p>

    <div class="row justify-content-center" id="projects">
        @if (Model != null && Model.Length != 0)
        {
            @foreach (var cooperation in Model)
            {
                <div class="col-md-10 mt-4 mb-4" style="padding:10px;">
                    <h5 class="fw-bold">@cooperation.Name</h5>
                    <p>Роль: @cooperation.Role</p>
                    <p>Дата окончания работ: @cooperation.EndDate</p>
                    <p>Организация: @cooperation.Organization.Name</p>
                    <p>Стоимость выполнения работ: @cooperation.Cost рублей</p>
                    <p>
                        @foreach (var skill in cooperation.Skills)
                        {
                            <span class="bg_blue p-2 m-2 d-inline-block">@skill.Name</span>
                        }
                    </p>
                    <p class="text-center"><a asp-action="LookingCooperation" asp-controller="Cooperation" asp-route-cooperationId="@cooperation.Id">Узнать больше</a></p>
                    <p class="text-center"><a asp-action="DeleteCooperation" asp-controller="Cooperation" asp-route-cooperationId="@cooperation.Id">Удалить</a></p>
                </div>
            }
        }
        else
        {
            <p class="text-center col-md-10 mt-5">Проектов для сотрудничества нет.</p>
        }
    </div>
    @if (Model != null && Model.Length == 5)
    {
        <p><button class="button form-control-plaintext w-25 m-auto mt-4" id="button_addnewstag">Загрузить ещё</button></p>
    }
</div>

<script>
    $(document).ready(function () {
        let take = 5;
        let skip = 0;
        $("#button_addnewstag").click(function () {
            take += 5;
            skip += 5;

            $.ajax({
                url: '/YourCooperationsMore/' + take + '/' + skip,
                type: 'POST',
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var skills = "";
                        if (data[i].skills != null) {
                            for (var j = 0; j < data[i].skills.length; j++) {
                                skills += `<span class="bg_blue p-2 m-2">` + data[i].skills[j].name + `</span>`;
                            }
                        }
                        $("#projects").append(`<div class="col-md-10 mt-4 mb-4" style="padding:10px;"><h5 class="fw-bold">` + data[i].name + `</h5><p>Роль: ` + data[i].role + `</p><p>Дата окончания работ: ` + data[i].endDate + `</p><p>Организация: ` + data[i].organization.name + `</p><p>Стоимость выполнения работ: ` + data[i].cost + ` рублей</p><p>` + skills + `</p><p class="text-center"><a href="/LookingCooperation?cooperationId=` + data[i].id + `">Узнать больше</a></p></div>`);
                    }
                    if (data.length < 5) {
                        $("#button_addnewstag").addClass('d-none');
                    }
                }
            });
        });
    });
</script>