@using EduSciencePro.ViewModels.Response
@model CourseViewModel[];

@{
    ViewData["Title"] = "Курсы и программы";
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white">
    <p class="w-100 text-end"><a class="mr-2" asp-action="YourCourse" asp-controller="Course">Ваши курсы/программы</a></p>


    <h3 class="mb-5 mt-2 underline_h3 text-center">Курсы и программы</h3>

    <div class="row justify-content-center">
        @if (Model != null && Model.Length != 0)
        {
            @foreach (var course in Model)
            {
                <div class="col-md-10 mt-4 mb-4" style="padding:10px;">
                    @{
                        var fullname = $"{course.User.FirstName} {course.User.LastName} {course.User.MiddleName}";
                    }
                    <a asp-controller="User" asp-action="GetUser" asp-route-userId="@course.User.Id" class="form-control-plaintext text-decoration-none"><h5 class="fw-bold">@fullname</h5></a>
                    <p>Образование: @course.Education.Name</p>
                    <p>Место работы: @course.PlaceWork.Name</p>
                    <p>Специализация: @course.Specialization</p>
                    <p>Пройденные курсы/программы повышения квалификации и переподготовки:</p>
                    <ul class="courses list-group list-group-flush">
                        @if (course.CompletedCourses != null)
                        {
                            @foreach (var programm in course.CompletedCourses)
                            {
                                <li class="list-group-item">&bull; @programm</li>
                            }
                        }
                    </ul>
                    <p class="mt-3">Необходимость в получении дополнительных навыков:</p>
                    <div class="progress" role="progressbar" aria-valuenow="@course.NeedSkills" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg_blue text-black" style="width:@course.NeedSkills%">@course.NeedSkills%</div>
                    </div>
                    <p class="mt-3">
                        @foreach (var skill in course.Skills)
                        {
                            <span class="bg_blue p-2 m-2 d-inline-block">@skill.Name</span>
                        }
                    </p>
                </div>
            }
        }
        else
        {
            <p class="text-center col-md-10">Курсов и программ нет. Возвращайтесь позже.</p>
        }
    </div>

</div>