@using EduSciencePro.ViewModels.Response
@model CourseViewModel;

@{
    ViewData["Title"] = "Ваши курсы и программы";
    Layout = "_Layout";
}

<div class="border_blue p-4 m-3 bg-white row">
    <h3 class="mb-5 mt-2 underline_h3 text-center">Ваши курсы и программы</h3>
    @if (Model == null)
    {
        <p class="m-auto col-7 col-xl-3"><a class="button_light form-control-plaintext text-center text-decoration-none text-black p-2 mt-4" asp-action="AddCourse" asp-controller="Course">Создать курс или программу</a></p>
    }

    <div class="row justify-content-center">
        @if (Model != null)
        {

            <div class="col-md-10 mt-4 mb-4" style="padding:10px;">
                @{
                    var fullname = $"{Model.User.LastName} {Model.User.FirstName} {Model.User.MiddleName}";
                }
                <h5 class="fw-bold">@fullname</h5>
                <p>Образование: @Model.Education.Name</p>
                <p>Место работы: @Model.PlaceWork.Name</p>
                <p>Специализация: @Model.Specialization</p>
                <p>Пройденные курсы/программы повышения квалификации и переподготовки:</p>
                <ul class="courses list-group list-group-flush">
                    @if (Model.CompletedCourses != null)
                    {
                        @foreach (var programm in Model.CompletedCourses)
                        {
                            <li class="list-group-item">&bull; @programm</li>
                        }
                    }
                </ul>
                <p class="mt-3">Необходимость в получении дополнительных навыков:</p>
                <div class="progress" role="progressbar" aria-valuenow="@Model.NeedSkills" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg_blue text-black" style="width:@Model.NeedSkills%">@Model.NeedSkills%</div>
                </div>
                <p class="mt-3">
                    @foreach (var skill in Model.Skills)
                    {
                        <span class="bg_blue p-2 m-2 d-inline-block">@skill.Name</span>
                    }
                </p>
            </div>
            <p class="text-center"><a asp-action="EditCourse" asp-controller="Course">Редактировать</a></p>
            <p class="text-center"><a asp-action="DeleteCourse" asp-controller="Course" asp-route-id="@Model.Id">Удалить</a></p>
        }
        else
        {
            <p class="text-center col-md-10 mt-5">Курсов и программ нет.</p>
        }
    </div>

</div>